# The plugin.xml.  No one knows what this file is for.
plugin.xml

# Prevent plugin binaries from uploading to repo
*.zip

# Grails build directory
target/

# Vim swap files
*.swp
.classpath
.settings/
.project

*.log
